.navbar {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.navbar-toggle {
  height: 10rem !important;
  background-color: #eaeae1 !important;
}
.navbar-toggle > ol,
ul {
  padding-left: 0px !important;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.menu-bars {
  color: lightblue !important;
  text-decoration: none;
}
.menu-bars > p {
  color: grey;
  margin-top: 0.5rem;
  font-size: 1rem;
}
.nav-menu {
  background-color: white;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: grey;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #eaeae1;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: white;
  color: lightblue !important;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.blue > a > svg {
  color: #00dff9 !important;
}

.orange > a > svg {
  color: orange !important;
}

.red > a > svg {
  color: red !important;
}

.darkblue > a > svg {
  color: #0718f9 !important;
}
.yellow > a > svg {
  color: greenyellow !important;
}

.purple > a > svg {
  color: purple !important;
}
.black > a > svg {
  color: black !important;
}
