.experiences {
  margin: 8rem 5rem 0rem 5rem;
}
.educations {
  margin: 8rem 5rem 0rem 5rem;
}
.projectsdet {
  margin: 8rem 5rem 0rem 5rem;
}
.blogs {
  margin: 8rem 5rem 0rem 5rem;
}
.certificates {
  margin: 8rem 5rem 0rem 5rem;
}
.bloglist {
  margin-bottom: 10rem !important;
}
.container {
  margin: 26rem 10rem 7rem 10rem;
}
.blogsDetails {
  height: 22rem;
  margin-bottom: 3rem;
}
.blogsImg {
  height: 20rem !important;
}
.card-img-top {
  height: 10rem;
}
